body{
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
        font-family: 'Nunito', sans-serif!important;
    }
.hashsetting{
    font-size: 12px;
    overflow: hidden;
} 
.verify-syb iframe{
 margin: 0px;
}
.custm{
    height: 180px;
}